<nav class="navbar burger burger-default header__navbar" id="navbar">
    <div class="navbar__content">
        <span id="navbar-overflow" class="navbar__overflow"></span>
        <ul class="navbar__list">
            <li class="navbar__list-item">
                <a href="/" class="navbar__list-link">Home</a>
            </li>
            <li class="navbar__list-item">
                <a href="/" class="navbar__list-link">About</a>
            </li>
            <li class="navbar__list-item">
                <a href="/" class="navbar__list-link">Shop</a>
            </li>
            <li class="navbar__list-item">
                <a href="/" class="navbar__list-link">Contact</a>
            </li>
            <li class="navbar__list-item">
                <a href="/" class="navbar__list-link">Sign Up</a>
            </li>
        </ul>
    </div>
    <button class="burger__switcher" id="burger-switcher">
        <span class="icon-switcher"></span>
        <span class="icon-switcher"></span>
        <span class="icon-switcher"></span>
    </button>
</nav>